// Specific CSS for your home-page
body {
  background: $main-color;
}

a:hover {
  text-decoration: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.title {
  font-family: $title;
  margin: 0;
  color: $pink;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  font-family: $medium-font;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cocktail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  grid-gap: 30px 30px;
  width: 80vw;
}

.cocktail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  text-align: center;
  justify-items: center;
  color: $pink;
  font-weight: bold;
  font-size: 20px;
  font-family: $light-font;
  box-shadow: 1px 1px 15px 5px rgba(10,10,10, 0.4);
  border-radius: 6px;
  text-decoration: none;
  margin-top: 20px;
  & a {
    color: $pink;
  }
}

.remove-decoration {
  text-decoration: none;
}

#main-btn {
  font-size: 20px;
}
