// Specific CSS for your home-page
body {
  // background: #512b58;
}

a:hover {
  text-decoration: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.title {
  font-family: $title;
  margin: 0;
  color: #2a7886;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  font-family: $medium-font;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cocktail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin: 0 auto;
  grid-gap: 16px;
  width: 80vw;
}

.cocktail-card {
  height: 250px;
  width: 350px;
  text-align: center;
  color: #79bac1;
  font-weight: bold;
  font-size: 20px;
  font-family: $light-font;
  box-shadow: 1px 1px 15px 5px rgba(10,10,10, 0.4);
  border-radius: 6px;
  text-decoration: none;
}

.remove-decoration {
  text-decoration: none;
}

#main-btn {
  font-size: 20px;
}
