// Specific CSS for your home-page
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  background: $main-color;
}

a:hover {
  text-decoration: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
  position: relative;
}

.title {
  font-family: $title;
  margin: 0;
  color: $pink;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,0.2);
  font-size: 8rem;
  font-weight: bold;
}

.banner p {
  font-size: 3rem;
  font-family: $medium-font;
  color: white;
  opacity: .85;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,0.2);
}

.cocktail-container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10rem;
  grid-gap: 3rem 3rem;
  width: 80vw;
}

.cocktail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  text-align: center;
  justify-items: center;
  color: $pink;
  font-weight: bold;
  font-size: 2rem;
  font-family: $light-font;
  box-shadow: .1rem .1rem 1.5rem .5rem rgba(10,10,10, 0.4);
  border-radius: .6rem;
  text-decoration: none;
  margin-top: 2.5rem;
  & a {
    color: $pink;
  }
}

.cocktail-card::hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.remove-decoration {
  text-decoration: none;
}

#main-btn {
  font-size: 2rem;
}

.btn-search {
  padding: .4rem;
}

.form-control {
  height: calc(1.5em + 2.75rem + .2rem) !important;
  width: 25rem !important;
  font-size: 1rem;
}
