.cocktail-show {
  display: grid;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}

.cocktail-pic {
  height: 45rem;
  width: 30rem;
  border-radius: .6rem;
  justify-self: center;
  margin-bottom: 2rem;
}

.cocktail-description {
  justify-self: center;
}

.cocktail-name {
  color: white;
}
