.cocktail-show {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.cocktail-pic {
  height: 45rem;
  width: 30rem;
  border-radius: .6rem;
}

.cocktail-name {
  color: white;

}
