.footer {
  background: rgba(69, 45, 31,0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 40px;
  padding: 0px 40px;
  color: #FFD5AB;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFD5AB;
  opacity: 0.40;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
